VITE_SUPABASE_URL=https://qhhnblcmtqdbvuyoxbht.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFoaG5ibGNtdHFkYnZ1eW94Ymh0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM5NDgxNjksImV4cCI6MjA4OTUyNDE2OX0.oaevXP2uQc1hGC3NLGanCcQVB5ekYh6sSn6DH7yIQ3A
HF_TOKEN=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